h1, h2 {
    font-size: 25px;
    color: rgb(32, 32, 32);
}

p {
    font-size: 25px;
    color: rgb(32, 32, 32);
}

.serif {
    font-family: 'EB Garamond', serif;
}

.bg-color {
    background-color: rgb(226, 224, 224);
}
/* added utility classes */
.red {
    color: red;
}

.center {
    text-align: center;
}